body {
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(238, 242, 255);

    /* background: #595959;
    background: radial-gradient(circle,rgba(89, 89, 89, 1) 0%, rgba(69, 69, 69, 1) 50%, rgba(38, 38, 38, 1) 100%); */
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(238, 242, 255);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.link-img {
    width: 25%;
}

.link-list {
    justify-content: center;
    gap: 20px;
}

.link-item-container {
    display: flex;
    justify-content: center;
    padding: 15px 30px 15px 30px;

    background: #a1a1a1;
    background: radial-gradient(circle,rgba(161, 161, 161, 1) 0%, rgba(148, 148, 148, 1) 50%, rgba(117, 117, 117, 1) 100%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;

    border-radius: 5px;

    color: radial-gradient(circle,rgba(161, 161, 161, 1) 0%, rgba(148, 148, 148, 1) 50%, rgba(117, 117, 117, 1) 100%);;
    font-weight: bold;

    transition: 0.3s ease-in-out;
}

.link-item-container--yt {
    background-image: url(../img/yt.jpg);
}

.link-item-container--tg {
    background-image: url(../img/tg.jpg);
}

.link-item-container--donat {
    background-image: url(../img/donat.jpg);
}

.link-item-container--vk {
    background-image: url(../img/vk.jpg);
}

.link-item-container--inst {
    background-image: url(../img/inst.jpg);
}

.link-item-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.226);
    opacity: 0;
}

.link-item-container:hover {
    transform: scale(1.10);
}


.link-item-container:hover:after{
    opacity: 1;
}
